{# welcome/index.html.twig #}
{% extends 'manager/base.html.twig' %}

{% block title %}Bienvenidos{% endblock %}

{% block stylesheets %}{% endblock %}

{% block wrapper %}
    <div id="page-head">
        <div id="page-title">
            <h1 class="page-header text-overflow">Bienvenidos</h1>
        </div>
            
        <ol class="breadcrumb">
            <li><a href="#">eolo.manager</a></li>
            <li class="active">Inicio</li>
        </ol>
    </div>
        
    <!-- content -->
    <div id="page-content">
            
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}
